###########################################################################################################
#                                             git版本控制器忽略文件                                       #
###########################################################################################################

#忽略.env基本配置文件
.env
#忽略.idea文件夹
.idea
#忽略缓存，日志,编译...文件
/public/storage
#忽略laravel框架代码
/vendor

/node_modules
Homestead.yaml
Homestead.json

